@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

.smooth-scroll {
  will-change: transform;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
  will-change: transform;
}